@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdar;
}

@plugin 'daisyui/theme' {
  name: "light";
  default: true;
  --color-primary: #b91c1c;
  --color-secondary: #fff;
}
/* @plugin 'daisyui/theme' {
  name: "dark";
  --color-primary: ;
  --color-secondary: teal;
} */

a.active {
  color: #b91c1c;
  text-decoration: underline;
}
